<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/mapa.css">
    <link rel="stylesheet" href="../../static/css/cobra.css">
</head>
<body>

    <div class="container">
        <div class="pontos">1</div>
        <div class="container-jogo"></div>
    </div>

    <script src="../../static/js/mapa.js"></script>
    <script src="../../static/js/cobra.js"></script>
    <script src="../../static/js/funcoes.js"></script>
</body>
</html>